/* Breakpoints */
$media-list: (
  'xxs': 374,
  'xs': 560,
  'sm': 767,
  'md': 1079,
  'lg': 1279,
  'xl': 1599,
  'xxl': 1900,
);

/* Fonts */
$mainFont: 'Work Sans', sans-serif;

/* Colors */
$mainColor: #2f2f30;
$black: #000;
$white: #fff;
$white-db: #dbdcde;
$gray-6c: #6c6d6f;
$gray-f7: #f7f7f7;
$gray-fa: #fafafa;
$gray-f3: #f3f3f3;
$gray-d7: #d7d8dA;
$gray-a9: #a9abae;
$blue: #009ffd;
$blue-66: #6665dd;
$green: #00a651;
$green-2e: #2eb670;
$yellow-light: #fffbec;

/* Retina */
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
